<div class="card bg-light mb-3">
    <div class="card-header">{{alumno.userKey ? 'Editar Usuario' : titulo}}</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/usuarios">volver</button>

        <form>
            <div class="form-group">
              <label for="userKey">User Key</label>
              <input type="text" name="userKey" class="form-control" id="userKey" readonly
                     [(ngModel)]="alumno.userKey">
              <div class="alert alert-danger" *ngIf="error?.userKey">
                {{ error.userKey }}
              </div>
            </div>
            <div class="form-group">
              <label for="source">Source</label>
              <input type="text" name="source" class="form-control" id="source"
                     [(ngModel)]="alumno.source">
              <div class="alert alert-danger" *ngIf="error?.source">
                {{ error.source }}
              </div>
            </div>
            <div class="form-group">
              <label for="userId">User Id</label>
              <input type="text" name="userId" class="form-control" id="userId"
                     [(ngModel)]="alumno.userId">
              <div class="alert alert-danger" *ngIf="error?.userId">
                {{ error.userId }}
              </div>
            </div>
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" name="userName" class="form-control" id="userName"
                [(ngModel)]="alumno.userName">
                <div class="alert alert-danger" *ngIf="error?.userName">
                  {{ error.userName }}
                </div>
            </div>
            <div class="form-group">
                <label for="userPBXId">User PBX Id</label>
                <input type="text" name="userPBXId" class="form-control" id="userPBXId"
                [(ngModel)]="alumno.userPBXId">
                <div class="alert alert-danger" *ngIf="error?.userPBXId">
                    {{ error.userPBXId }}
                </div>
            </div>
            <div class="form-group">
                <label for="userEmail">User Email</label>
                <input type="text" name="userEmail" class="form-control" id="userEmail"
                [(ngModel)]="alumno.userEmail">
                <div class="alert alert-danger" *ngIf="error?.userEmail">
                    {{ error.userEmail }}
                </div>
            </div>
            <div class="form-group">
              <label for="userNtLogin">User NT Login</label>
              <input type="text" name="userNtLogin" class="form-control" id="userNtLogin"
                     [(ngModel)]="alumno.userNtLogin">
              <div class="alert alert-danger" *ngIf="error?.userNtLogin">
                {{ error.userNtLogin }}
              </div>
            </div>
            <div class="form-group">
              <label for="tenantKey">Tenant Key</label>
              <input type="text" name="tenantKey" class="form-control" id="tenantKey"
                     [(ngModel)]="alumno.tenantKey">
              <div class="alert alert-danger" *ngIf="error?.tenantKey">
                {{ error.tenantKey }}
              </div>
            </div>
            <div class="form-group">
              <label for="orgKey">Org Key</label>
              <input type="text" name="orgKey" class="form-control" id="orgKey"
                     [(ngModel)]="alumno.orgKey">
              <div class="alert alert-danger" *ngIf="error?.orgKey">
                {{ error.orgKey }}
              </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary"
                (click)="alumno.userKey? editar(): crear()">
                    {{ alumno.userKey? 'Editar': 'Crear' }}
                </button>
            </div>
        </form>
    </div>
</div>
