<div class="card bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerLink="/usuarios/form">Crear</button>
        <div class="alert alert-info" *ngIf="alumnos?.length==0">
            No hay Usuarios...
        </div>
        <table class="table table-hover table-striped table-responsive" *ngIf="alumnos?.length>0">
            <thead>
                <tr>
                    <th>User Key</th>
                    <th>Source</th>
                    <th>User Name</th>
                    <th>User Email</th>
                    <th>User NT Login</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of alumnos">
                    <td>{{alumno.userKey}}</td>
                    <td>{{alumno.source}}</td>
                    <td>{{alumno.userName}}</td>
                    <td>{{alumno.userEmail}}</td>
                    <td>{{alumno.userNtLogin}}</td>
<!--                    <td>{{alumno.createAt | date: 'yyyy/MM/dd'}}</td>-->
                    <td><button class="btn btn-secondary btn-sm"
                        [routerLink]="['/usuarios/form', alumno.userKey]">
                        Editar
                    </button></td>
                    <td><button class="btn btn-danger btn-sm"
                        (click)="eliminar(alumno)">
                        Eliminar
                    </button></td>
                </tr>
            </tbody>
        </table>
       </div>
  </div>


